{% extends 'baseApp/base.html' %}
{% load static %}

{% block title %}
    Nick Stolarow - About
{% endblock %}

{% block content %}
    <div class="statement">Get to Know Me.</div>
    <div class="card">
        <div class="sub-card">
            <div class="container-fluid">
                <img class="img-fluid headshot" src="{% static 'baseApp/Self copy.png' %}"
                     alt="Headshot of Nick">
                <p class="about-text">
                    I am attending Boise State University set to graduate with a B.S. in Computer Science with
                    an emphasis in Cyber Security in Fall of 2021. Through my schooling as well as internships
                    and jobs I have acquired many skills both in front end and back end development. I have a
                    strong passion for coding and enjoy doing it both in a professional setting and in my free
                    time.
                </p>
                <br>
                <p class="about-text">
                    Outside of coding, I enjoy spending time with family and friends as well as exploring the
                    outdoors by snowboarding and rock climbing.
                </p>
            </div>
        </div>
    </div>
{% endblock %}