{% extends 'baseApp/base.html' %}
{% load static %}

{% block title %}
    Nick Stolarow - Links
{% endblock %}

{% block content %}
    <div class="statement">Lets Connect.</div>
    <div class="container">
        <div class="row">

            <div class="col-xl-3 col-lg-4 col-md-6 align-self-center">
                <a href="https://www.linkedin.com/in/nickstolarow/" target="_blank">
                    <div class="card">
                        <div class="sub-card">
                            <img class="img-fluid" src="{% static 'baseApp/linkedin-logo.png' %}"
                                 alt="LinkedIn logo">
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 align-self-center">
                <a href="https://github.com/nickStolarow" target="_blank">
                    <div class="card">
                        <div class="sub-card">
                            <img class="img-fluid" src="{% static 'baseApp/github-logo.png' %}"
                                 alt="GitHub logo">
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 align-self-center">
                <a href="mailto:nickstolarow@gmail.com" target="_blank">
                    <div class="card">
                        <div class="sub-card">
                            <img class="img-fluid" src="{% static 'baseApp/gmail-logo.png' %}"
                                 alt="Gmail logo">
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 align-self-center">
                <a href="{% static 'baseApp/Nicholas_Stolarow_Resume.pdf' %}" target="_blank">
                    <div class="card">
                        <div class="sub-card">
                            <img class="img-fluid" src="{% static 'baseApp/resume-logo.png' %}"
                                 alt="Resume logo">
                        </div>
                    </div>
                </a>
            </div>

        </div>
    </div>
{% endblock %}