{% extends 'baseApp/base.html' %}
{% load static %}

{% block content %}
    <div class="statement">What I've Done.</div>

    <div class="card">
        <div class="sub-card">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 align-self-center">
                        <img class="img-fluid" src="{% static 'baseApp/rohner-logo.jpg' %}" alt="Rohner logo">
                    </div>
                    <div class="col-xl-6 col-lg-6 align-self-center duties">
                        <p>
                            Coming soon...
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="sub-card">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 align-self-center">
                        <img class="img-fluid" src="{% static 'baseApp/bsu-logo.png' %}"
                             alt="Boise State University logo">
                    </div>
                    <div class="col-xl-6 col-lg-6 align-self-center duties">
                        <p>
                            Continuous development of a command line interface using Python code to perform calculations
                            similar
                            to that of an oscilloscope to aid the visually impaired in their Electrical Engineering
                            course
                            work.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card">
        <div class="sub-card">
            <div class="container">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 align-self-center">
                        <div class="backplate">
                            <img class="img-fluid" src="{% static 'baseApp/isci-logo.png' %}"
                                 alt="Idaho Scientific logo">
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 align-self-center duties">
                        <p>
                            Developed a client/server program for internal data transfers between servers using Python.
                            At a high level this was accomplished using TCP sockets, FreeIPA to validate employees'
                            credentials and
                            multithreading to service several connections at once. When a file transfer is initiated,
                            the
                            data
                            is hashed client and server side to check if the data arrives intact, the server then
                            scans the file data for virus’s and blocks the transfer if the file is malicious. All file
                            transfers
                            are secured using SSL sockets.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}