{% extends 'baseApp/base.html' %}
{% load static %}

{% block title %}
    Nick Stolarow - Photo of the Day
{% endblock %}

{% block content %}
    <div class="statement apod-statement">{{ title }}.</div>

    <div class="container">
        <form method="get">
            <div class="form-group">
                <label for="search-date">Date</label>
                <input class="form-control" id="search-date" name="date" placeholder="YYYY-MM-DD"
                       value="{{ date }}">
                <small class="form-text text-muted">Search NASA's archive from Jun 16, 1995 to present</small>
            </div>
            <button type="submit" class="btn btn-outline-success apod-submit">Search</button>
        </form>
    </div>

    <div class="card center">
        <div class="sub-card">
            {% if video %}
                <iframe class="img-fluid rounded apod" src="{{ url }}" alt="Photo of the day from NASA"></iframe>
            {% else %}
                <a href="{{ url }}" target="_blank">
                    <img class="img-fluid rounded apod" src="{{ url }}" alt="Photo of the day from NASA">
                </a>
            {% endif %}
        </div>
    </div>
{% endblock %}